@model Anigure.Models.Users.UserIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users![0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users![0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users![0].UserRoles)
            </th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Users is not null)
        {
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(_ => user.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => user.Email)
                    </td>
                    <td>
                        @if (user.UserRoles is not null)
                        {
                            @foreach (var role in user.UserRoles)
                            {
                                if (Model.Roles is not null)
                                {
                                    <p>
                                        @Html.DisplayFor(_ => Model.Roles[role.RoleId])
                                    </p>
                                }
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>
